<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>459011930815-ja8e2uchevit8i8tr8g16c3s7s6f3uph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459011930815-ja8e2uchevit8i8tr8g16c3s7s6f3uph</string>
	<key>API_KEY</key>
	<string>AIzaSyB469xbevrH0vsAAx_xXrCqul-kp5WIKMA</string>
	<key>GCM_SENDER_ID</key>
	<string>459011930815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antonnovoselov.SYA2-Moments</string>
	<key>PROJECT_ID</key>
	<string>sya2-moments-8c8f9</string>
	<key>STORAGE_BUCKET</key>
	<string>sya2-moments-8c8f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:459011930815:ios:b0511f508342e7c2</string>
	<key>DATABASE_URL</key>
	<string>https://sya2-moments-8c8f9.firebaseio.com</string>
</dict>
</plist>